:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --ta: #171819;
  --ta-us: #2a2d30;
}

@font-face {
  font-family: Puppy;
  src: url("./assets/Puppybellies-JyRM.ttf");
}

@font-face {
  font-family: Puppybllies;
  src: url("./assets/Puppybellies-JyRM.ttf");
}

body {
  margin: 1rem 0.6rem;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-family: Puppy, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin: 0.7rem 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 0.6rem;
  margin: 0.6rem;
}

button svg {
  vertical-align: middle;
}

ul {
  padding-left: 0;
  margin: 0;
  margin-bottom: 0.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.6rem;
}

.edit-li {
  list-style-type: none;
  position: relative;
  padding: 0.6rem;
  background-color: var(--ta-us);
  font-family: Puppybllies, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px)  {
  ul {
    grid-template-columns: 1fr;
  }
}

.edit-li input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  height: 0.8rem;
  width: 0.8rem;
  margin-left: 0.2rem;
  margin-bottom: 0.4rem;
  margin-right: 0.6rem;
  cursor: pointer;
  vertical-align: middle;
  background-color: var(--ta);
  background-size: 100%;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("./assets/selected_off.svg");

}

.edit-li input[type=checkbox]:checked {
  background-image: url("./assets/selected_on.svg");
  background-size: 100%;
  background-position: right center;
  background-repeat: no-repeat;
}

.edit-btns {
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 2rem;
  top: -1.3rem;
}

.edit-btns svg {
  margin: 0.2rem;
  padding: 0.2rem;
  background-color: #2f4150;
  cursor: pointer;
}

div {
  margin: 0;
  width: 100%;
/*   background-color: #646cff; */
}

.todo-input {
  text-align: end;
}

textarea {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  resize: none;
  outline: none;
  border: none;
  background-color: var(--ta-us);
  font-family: Puppybllies, Arial, Helvetica, sans-serif;
  padding: 0.6rem;
}

textarea:focus {
  background-color: var(--ta);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --ta: #b5c4c4;
    --ta-us: #dde0e8;
    --btn-c: #ced6de;
  }
  a:hover {
    color: #749bff;
  }
  button {
    background-color: var(--btn-c);
  }

  .edit-btns svg {
    background-color: var(--btn-c);
  }
}
